{
    "presets": [
        ["@babel/preset-env", {
            "modules": "commonjs",
            "targets": {
                "browsers": ["> 1%", "last 2 versions", "not ie <= 8"],
                "node": "current"
            }
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        "transform-export-extensions",
        "transform-es2015-modules-commonjs",
        "dynamic-import-node",
        ["@babel/plugin-proposal-object-rest-spread", { "loose": true, "useBuiltIns": true }]
    ]
}
