application/configs/bancos_*.ini
application/configs/config.ini
index.php
*~
#*
*#
.#*
index.php
public/plenaria/log_exec_paEncerrarCNIC.txt
.directory
application/configs/config_desenv.ini
application/configs/config_treinamento.ini
.directory
tags
