
/*--------------------------------------------------------------
x - BREADCRUMB
--------------------------------------------------------------*/

#breadcrumb {
    color: #7C7E89;
}

#breadcrumb ul {
    margin: 5px 0 0 0;
}

#breadcrumb ul li {
    list-style-type: none;
    display: inline;
    background: url(../img/breadcrumb.gif) no-repeat;
    padding: 0 6px 3px 20px;
}

#breadcrumb ul li.first { /* primeiro elemento do breadcrumb */
    background: none;
    padding: 0 6px 3px 0;
}

#breadcrumb ul li.last { /* �ltimo elemento do breadcrumb */
    /*color:#666;*/
    color: #000;
    font-weight: bold;
}

#breadcrumb ul li a {
    /*color:#666;*/
    color: #000;
    text-decoration: none;
}

#breadcrumb ul li a:hover {
    text-decoration: underline;
}

#breadcrumb ul li a,
#breadcrumb ul li.first,
#breadcrumb ul li.last,
#breadcrumb ul li {
    color: inherit;
    padding: 0;
    margin: 0;
    font-size: 12px;
    background: none;
    font-weight: normal;
}

#breadcrumb ul li a {
    padding: 0px;
    margin: 0px;
}

#breadcrumb ul li:after {
    content: '/';
    padding: 0px;
    padding-left: 4px;
}

#breadcrumb ul li:last-child:after {
    content: '';
}


/*--------------------------------------------------------------
 BREADCRUMB
--------------------------------------------------------------*/
.breadcrumb a {
    font-size: 13px;
}

nav.breadcrumb {
    height: 30px;
    /*background-color: #388E3C;*/
}
nav.breadcrumb .nav-wrapper {
    color: #fff;
    background-color: #388E3C;
    /*background-color: #3c763d;*/
    /*background-color: #1B5E20;*/
    width: 100%;
    height: 30px;
    line-height: 30px;
}