/*--------------------------------------------------------------
x - LOADER
--------------------------------------------------------------*/
.carregando {
    text-align:center;
}
.carregando_ajax {
    background:#ffc url(../img/ajax.gif) 5px center no-repeat;
    vertical-align:bottom;
}
.carregando_ajax .txt_ajax {
    margin-left:90px;
}

.loader {
    background:url(../img/ajax.gif) no-repeat center;
    padding:5px 0 50px;
    height:1px;
}
.tag_pre {
    overflow-x:auto;
    white-space:-moz-pre-wrap !important;
    white-space:-o-pre-wrap;
    white-space:pre-wrap;
    word-wrap: break-word;
}

.modal.modal-pre-loader {
    width: 300px !important;
    height: 180px !important;
    padding: 10px;
    z-index: 1002 !important;
}

.modal.modal-pre-loader .modal-content {
    padding: 10px;
}

#container-loading {
    display: none;
    position:   fixed;
    z-index:    1092;
    background: rgba( 255, 255, 255, .8 );
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-top: -100px;*/
    /*margin-left: -80px;*/
    /*width: 200px;*/
    /*height: 160px;*/
    top:        0;
    left:       0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

#loading-message {
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
}

.sk-cube-grid {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #388e3c;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}