/*--------------------------------------------------------------
 * Modal
--------------------------------------------------------------*/
.modal.full {
    top:0 !important;
    width: 99vw;
    max-height: 100vh;
    height: 100vh
}
