/*--------------------------------------------------------------
x - SIDEBAR (legado) - #menuContainer -  - Menu lateral
--------------------------------------------------------------*/
#menuContainer {
    background: #36963f;
}

#menuContainer ul li,
#menuContainer ul li a,
#menuContainer {
    margin: 0px;
    padding: 0px;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

#menuContainer ul li a {
    padding: 8px 14px;
    width: 100%;
}

/*--------------------------------------------------------------
x - Menu lateral (legado)
--------------------------------------------------------------*/
#menuContexto {
    max-width: 250px;
    position: absolute;
    height: 100%;
    height: calc(100% - 99px);

    /*display: block;*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*min-width: 230px;*/
    /*min-height: 500px;*/
    /*position: relative;*/
    /*float: left;*/
    /*margin-right: 20px;*/
    /*position: fixed;*/
    /*top: 50px;*/
    /*left: 0px;*/

    /*top: 99px;*/
    /*background-color: #35384C;*/

    /*padding-bottom: 99px;*/
    /*overflow-x: hidden;*/
    /*z-index: 998;*/
}

#qm0,
#qm0.qmmc {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 230px;
    max-width: 230px;
    margin: 0;
    overflow-y: auto;
    will-change: transform;
    background-color: #35384C;
    height: 100%;
    height: calc(100% - 99px);
    padding-bottom: 99px;
    overflow-x: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.container-fluid #qm0.qmmc {
    left: -42px;
    top: -31px;
}

.nav-fixed #qm0,
.nav-fixed #qm0.qmmc {
    top: 40px;
    left: 0px;
    position: fixed !important;
    height: 100%;
    height: calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    padding-bottom: 40px;
}

#qm0.qmmc a.submenu,
#qm0.qmmc .sanfonaDiv > a.sanfona,
#qm0.qmmc a.sanfona,
#qm0.qmmc a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    color: #D8D8D8;
    font-size: 13px;
    font-weight: 400;
    padding: 0 20px;
    position: relative !important;
    overflow: hidden;
}

/*#qm0.qmmc a:hover {*/
/*background-color: #2d2f40;*/
/*}*/
#qm0.qmmc div {
    width: 100% !important;
    /*background-color: #232533;*/
}

#qm0.qmmc div a {
    font-size: 13px;
    line-height: 13px;
    padding: 15px 5px 0 40px;
    clear: both;
    width: 100%;
}

#qm0.qmmc a.submenu:before,
#qm0.qmmc .sanfonaDiv > a.sanfona:before,
#qm0.qmmc a.sanfona:before {
    content: "";
    display: block;
    position: absolute;
    right: 16px;
    top: 18px;
    width: 0;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent #afaaaa;
}

/*--------------------------------------------------------------
 Sidebar
--------------------------------------------------------------*/
#sidebar {
    height: 100%;
    display: block;
    max-width: 250px;
    display: inline;
}

#sidenav {
    max-width: 250px;
    position: absolute;
    top: 99px;
    background-color: #35384C;
    height: 100%;
    height: calc(100% - 99px);
    padding-bottom: 99px;
    overflow-x: hidden;
    z-index: 990;
}

@media only screen and (min-width: 993px) {
    #menuContexto,
    #sidenav {
        transition: transform .3s ease, width .3s ease;
    }
}

body.nav-fixed #menuContexto,
body.nav-fixed #sidenav {
    top: 40px;
    position: fixed;
    height: 100%;
    height: calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    padding-bottom: 40px;
}

#sidenav .sidebar-info {
    background-color: #2d2f40;
    padding: 15px 10px;
}

#sidenav .sidebar-info.disabled {
    background-color: #848588;
}

#sidenav .sidebar-info p span {
    text-align: center;
}

#sidenav .sidebar-info p,
#sidenav .sidebar-info b,
#sidenav .sidebar-info i {
    color: #fff;
}

#sidenav .sidebar-info i.left {
    margin-right: 10px;
}

#sidenav .sidebar-info .info-title {
    font-size: 15px;
}

#sidenav ul {
    margin: 0px;
    padding: 0px;
}

#sidenav li {
    position: relative;
    width: 250px;
}

#sidenav li.active {
    /*background-color: rgba(0, 0, 0, 0.33);*/
    background-color: rgba(0, 0, 0, 0.1);
}

#sidenav li > a > i.material-icons,
#sidenav li i {
    margin-right: 5px;
    color: inherit;
}

#sidenav a.collapsible-header,
#sidenav.fixed a.collapsible-header,
#sidenav li > a.collapsible-header,
#sidenav li > a {
    display: block;
    cursor: pointer;
    color: #D8D8D8;
    text-decoration: none;
    z-index: auto;
    transition: none;
    font-size: 13px;
    font-weight: 400;
    padding: 0px 20px;
}

/* sub-menu */
#sidenav .collapsible-body li a,
#sidenav.fixed .collapsible-body li a {
    font-size: 13px;
    line-height: 22px;
    padding: 14px 5px 7px 40px;
}

#sidenav li a.active:before,
#sidenav a.collapsible-header:before {
    content: "";
    display: block;
    position: absolute;
    right: 16px;
    top: 18px;
    width: 0;
    border-style: solid;
    border-color: transparent #afaaaa;
    border-width: 8px 8px 8px 0px;
}

#sidenav li a.active:before {
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent #666;

}

#sidenav a.collapsible-header.active:before {
    border-width: 8px 8px 0 8px;
    border-color: #666 transparent;
    top: 20px
}

.side-nav .collapsible-body,
.side-nav.fixed .collapsible-body {
    background-color: transparent;
}

#sidenav li .collapsible-body a.active {
    /*background-color: #232533;*/
}

/*************  nano-menu *************/
@media only screen and (min-width: 993px) {
    .small-menu #sidenav {
        overflow: visible;
        width: 70px !important;
        transition: transform .3s ease, width .3s ease;
    }

    .small-menu #sidenav .collapsible > li,
    .small-menu #sidenav > li {
        position: relative;
        width: 70px;
        /*line-height: 12px;*/
    }

    .small-menu #sidenav > li.sidebar-info,
    .small-menu #sidenav > li.sidebar-info b,
    .small-menu #sidenav > li > a,
    .small-menu #sidenav.fixed > a.collapsible-header,
    .small-menu #sidenav li > a.collapsible-header {
        font-size: 0px;
        padding: 0px;
        margin: 0px;
    }

    .small-menu #sidenav > li.sidebar-info {
        display: block;
        height: 48px;
    }

    /*.small-menu #sidenav li:hover a,*/
    /*.small-menu #sidenav a.collapsible-header,*/
    /*.small-menu #sidenav.fixed a.collapsible-header,*/
    /*.small-menu #sidenav li > a.collapsible-header,*/
    /*.small-menu #sidenav li > a {*/
    /*background-color: #35384C;*/
    /*}*/
    /*.small-menu #sidenav a.collapsible-header:hover,*/
    /*.small-menu #sidenav.fixed a.collapsible-header:hover,*/
    /*.small-menu #sidenav li > a.collapsible-header:hover,*/
    /*.small-menu #sidenav li > a:hover,*/
    /*.small-menu #sidenav > li.sidebar-info div {*/
    /*background-color: #2d2f40;*/
    /*}*/
    .small-menu #sidenav > li.sidebar-info div p {
        display: none;
    }

    .small-menu #sidenav > li.sidebar-info div p:first-child {
        padding: 12px 0;
        display: block;
        overflow: hidden;
    }

    .small-menu #sidenav > li.sidebar-info div p i {
        margin-right: 25px;
    }

    .small-menu #sidenav > li.sidebar-info div,
    .small-menu #sidenav > li > a {
        position: absolute;
        top: 0;
        left: 0;
    }

    .small-menu #sidenav > li.sidebar-info div:hover,
    .small-menu #sidenav > li.sidebar-info div:hover b,
    .small-menu #sidenav > li.sidebar-info div:hover p,
    .small-menu #sidenav > li > a:hover {
        min-width: 250px;
        font-size: 12px;
        overflow: hidden;
    }

    .small-menu #sidenav > li.sidebar-info div,
    .small-menu #sidenav li > a.collapsible-header,
    .small-menu #sidenav.fixed > a.collapsible-header,
    .small-menu #sidenav > li > a {
        padding: 0 20px;
        position: relative;
    }

    .small-menu #sidenav > li span.badge {
        display: none;
    }

    .small-menu #sidenav > li.sidebar-info i,
    .small-menu #sidenav > li.sidebar-info b i,
    .small-menu #sidenav li i {
        font-size: 25px
    }

    .small-menu #sidenav li > a > i {
        margin-right: 30px;
    }

    .small-menu #sidenav .collapsible li > a > i {
        margin-right: 0px;
    }

    /************ submenu ************/
    .small-menu #sidenav > li .collapsible-body {
        display: none !important;
        width: 180px;
        position: absolute;
        top: 0;
        left: 100%;
    }

    .small-menu #sidenav > li:hover .collapsible-body {
        display: block !important;
    }

    .small-menu #sidenav .collapsible-body li a,
    .small-menu #sidenav.fixed .collapsible-body li a {
        padding-left: 5px;
    }

    .small-menu #sidenav li a.active:before,
    .small-menu #sidenav a.collapsible-header:before {
        display: none;
    }
}

/* barra de rolagem */
#sidenav::-webkit-scrollbar {
    width: 0.5em;
}

#sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

#sidenav::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 996;
    will-change: opacity;
}

#small-menu-button {
    position: absolute;
    left: 24px;
    bottom: 8px;
    color: #fff;
}

/*--------------------------------------------------------------
Sidebar (remover apos atualizar menus q utilizam)
--------------------------------------------------------------*/
ul.sidebar-nav {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 1px 4px #9e9e9e;
    overflow: hidden;
    min-width: 100px;
}

ul.sidebar-nav ul {
    margin: 0px;
    padding: 0px;
}
.sidebar-nav .collapsible-header,
.sidebar-nav .collapsible-body,
.sidebar-nav .collapsible {
    box-shadow: none;
    border: none;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    padding: 0px;
}

.sidebar-nav a.collapsible-header,
.sidebar-nav li a {
    position: relative;
    font-size: 12px;
    /*color: #565656;*/
    color: #212121;
    line-height: 44px;
    height: 44px;
    padding: 0 30px;
    display: block;
    border: none;
    border-bottom: 1px solid #D2D2D2;
    overflow: hidden;
}

.sidebar-nav li a.active:before,
.sidebar-nav a.collapsible-header:before {
    content: "";
    display: block;
    position: absolute;
    right: 16px;
    top: 18px;
    width: 0;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #666;
}

.sidebar-nav li a.active:before {
    border-color: transparent #afaaaa;
}

.sidebar-nav a.collapsible-header.active:before {
    border-width: 6px 6px 0px 6px;
    border-color: #666 transparent;
    top: 20px
}

.sidebar-nav a.collapsible-header.active,
.sidebar-nav li a.active,
.sidebar-nav a.collapsible-header:hover,
.sidebar-nav li a:hover {
    background: rgba(0, 0, 0, 0.11);
}

.sidebar-nav li .collapsible-body a {
    border: none;
    font-weight: normal;
    color: #212121;
    padding-left: 50px;

}
.sidebar-nav li .collapsible-body{
    border-bottom: 1px solid #D2D2D2;
}

.sidebar-nav .detalhes-proposta .row {
    margin-bottom: 0px;
}

.sidebar-nav .detalhes-proposta p {
    line-height: 12pt;
    padding: 0 0 2px;
    font-size: 13px;
    margin: 10px 0px;
}

.sidebar-nav .detalhes-proposta i {
    margin-right: 5px;
}

@media screen and (max-width: 1300px) {
    .sidebar-nav a.collapsible-header, .sidebar-nav li a {
        padding: 0 10px;
    }

    .sidebar-nav li .collapsible-body a {
        padding-left: 15px;
    }
}

/*--------------------------------------------------------------
x - Ajustes do menu lateral com o container
--------------------------------------------------------------*/

/* remover apos migracao do layout de proposta */
.small-menu .container-fluid .row .col.s2.m12.l2,
.large-menu .container-fluid .row .col.s2.m12.l2 {
    margin: 0;
    width: 0;
    padding: 0;
}

/* remover apos migracao do layout de proposta */
@media only screen and (min-width: 993px) {
    .large-menu .container-fluid > .row > .col.s10.m12.l10,
    .large-menu .container-fluid > .row > .col.s10.m12.l10 {
        width: 100% !important;
    }

    .small-menu .container-fluid > .row > .col.s10.m12.l10 #breadcrumb,
    .small-menu .container-fluid > .row > .col.s10.m12.l10 #titulo,
    .small-menu .container-fluid > .row > .col.s10.m12.l10 #conteudo,
    .large-menu .container-fluid > .row > .col.s10.m12.l10 #breadcrumb,
    .large-menu .container-fluid > .row > .col.s10.m12.l10 #titulo,
    .large-menu .container-fluid > .row > .col.s10.m12.l10 #conteudo {
        width: 100%;
    }
}

@media screen and (min-width: 990px) {
    aside ~ .container-fluid,
    aside ~ .mensagens,
    .menu-lateral.container-fluid,
    .large-menu .container-fluid,
    .large-menu  .mensagens {
        transition: margin-left .3s ease;
        margin-left: 250px;
        width: auto;
        overflow: hidden;
    }

    .large-menu footer,
    .large-menu footer.page-footer {
        margin-left: 100px;
        width: auto;
    }

    .large-menu footer,
    .large-menu footer.page-footer {
        margin-left: 100px;
        width: auto;
    }

    .small-menu footer.page-footer,
    .small-menu .container-fluid {
        margin-left: 70px;
    }
}

