.table {
    width: 100%;
    max-width: 100%
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0
}

.table > tbody + tbody {
    border-top: 2px solid #ddd
}

.table .table {
    background-color: #fff
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 5px
}

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #ddd
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 2px
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table-hover > tbody > tr:hover, .table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active {
    background-color: #f5f5f5
}

table col[class*=col-] {
    position: static;
    float: none;
    display: table-column
}

table td[class*=col-], table th[class*=col-] {
    position: static;
    float: none;
    display: table-cell
}

.table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover {
    background-color: #e8e8e8
}

.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success {
    background-color: #dff0d8
}

.table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr.success:hover > th, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover {
    background-color: #d0e9c6
}

.table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > thead > tr > td.info, .table > thead > tr > th.info {
    background-color: #d9edf7
}

.table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr.info:hover > th, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover {
    background-color: #c4e3f3
}

.table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th, .table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th, .table > thead > tr > td.warning, .table > thead > tr > th.warning {
    background-color: #fcf8e3
}

.table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr.warning:hover > th, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover {
    background-color: #faf2cc
}

.table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger {
    background-color: #f2dede
}

.table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr.danger:hover > th, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover {
    background-color: #ebcccc
}

.table-responsive {
    overflow-x: auto;
    min-height: .01%
}

.table-responsive > .table {
    margin-bottom: 0
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd
    }

    .table-responsive > .table {
        margin-bottom: 0
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: nowrap
    }

    .table-responsive > .table-bordered {
        border: 0
    }

    .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > thead > tr > th:first-child {
        border-left: 0
    }

    .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > thead > tr > th:last-child {
        border-right: 0
    }

    .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > th {
        border-bottom: 0
    }
}

/*table.dataTable {*/
    /*margin-bottom: 15px*/
/*}*/

/*table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_desc_disabled {*/
    /*cursor: pointer;*/
    /*position: relative;*/
    /*padding-right: 25px;*/
    /*overflow: hidden;*/
    /*white-space: nowrap*/
/*}*/

/*table.dataTable thead .sorting:after, table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 18px;*/
    /*right: 7px;*/
    /*height: 0;*/
    /*width: 0;*/
    /*border: 5px solid transparent;*/
    /*border-top: 5px solid #5F5F5F*/
/*}*/

/*table.dataTable thead .sorting:after {*/
    /*top: 5px;*/
    /*border: 5px solid transparent;*/
    /*border-bottom: 5px solid #5F5F5F*/
/*}*/

/*table.dataTable thead .sorting_asc:after {*/
    /*top: 9px;*/
    /*border: 5px solid transparent;*/
    /*border-bottom: 5px solid #5F5F5F*/
/*}*/

/*table.dataTable thead .sorting_desc:after {*/
    /*top: 14px*/
/*}*/

/*table.dataTable thead .sorting_asc_disabled:after {*/
    /*top: 9px;*/
    /*border-bottom: 5px solid #DDD*/
/*}*/

/*table.dataTable thead .sorting_desc_disabled:after {*/
    /*top: 14px;*/
    /*border-top: 5px solid #DDD*/
/*}*/

/*table.dataTable tbody tr.selected {*/
    /*background-color: #b0bed9*/
/*}*/

/*table.dataTable.display tbody tr.odd.selected, table.dataTable.stripe tbody tr.odd.selected {*/
    /*background-color: #abb9d3*/
/*}*/

/*table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3, table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3 {*/
    /*background-color: #f9f9f9*/
/*}*/

/*table.dataTable.display tbody tr.selected > .sorting_1, table.dataTable.display tbody tr.selected > .sorting_2, table.dataTable.display tbody tr.selected > .sorting_3, table.dataTable.order-column tbody tr.selected > .sorting_1, table.dataTable.order-column tbody tr.selected > .sorting_2, table.dataTable.order-column tbody tr.selected > .sorting_3 {*/
    /*background-color: #acbad4*/
/*}*/

/*table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {*/
    /*background-color: #f1f1f1*/
/*}*/

/*table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {*/
    /*background-color: #f3f3f3*/
/*}*/

/*table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {*/
    /*background-color: #f5f5f5*/
/*}*/

/*table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {*/
    /*background-color: #a6b3cd*/
/*}*/

/*table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {*/
    /*background-color: #a7b5ce*/
/*}*/

/*table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {*/
    /*background-color: #a9b6d0*/
/*}*/

/*table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {*/
    /*background-color: #f9f9f9*/
/*}*/

/*table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {*/
    /*background-color: #fbfbfb*/
/*}*/

/*table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {*/
    /*background-color: #fdfdfd*/
/*}*/

/*table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {*/
    /*background-color: #acbad4*/
/*}*/

/*table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {*/
    /*background-color: #adbbd6*/
/*}*/

/*table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {*/
    /*background-color: #afbdd8*/
/*}*/

/*table.dataTable.display tbody tr.even:hover > .sorting_1, table.dataTable.display tbody tr.odd:hover > .sorting_1, table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr.even:hover > .sorting_1, table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {*/
    /*background-color: #eaeaea*/
/*}*/

/*table.dataTable.display tbody tr.even:hover > .sorting_2, table.dataTable.display tbody tr.odd:hover > .sorting_2, table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr.even:hover > .sorting_2, table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {*/
    /*background-color: #ebebeb*/
/*}*/

/*table.dataTable.display tbody tr.even:hover > .sorting_3, table.dataTable.display tbody tr.odd:hover > .sorting_3, table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr.even:hover > .sorting_3, table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {*/
    /*background-color: #eee*/
/*}*/

/*table.dataTable.display tbody tr.even:hover.selected > .sorting_1, table.dataTable.display tbody tr.odd:hover.selected > .sorting_1, table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {*/
    /*background-color: #a1aec7*/
/*}*/

/*table.dataTable.display tbody tr.even:hover.selected > .sorting_2, table.dataTable.display tbody tr.odd:hover.selected > .sorting_2, table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {*/
    /*background-color: #a2afc8*/
/*}*/

/*table.dataTable.display tbody tr.even:hover.selected > .sorting_3, table.dataTable.display tbody tr.odd:hover.selected > .sorting_3, table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {*/
    /*background-color: #a4b2cb*/
/*}*/

/*table.dataTable.no-footer {*/
    /*border-bottom: 1px solid #111*/
/*}*/

/*.dataTables_wrapper {*/
    /*position: relative;*/
    /*clear: both;*/
    /*zoom: 1*/
/*}*/

/*.dataTables_wrapper .dataTables_length {*/
    /*float: left;*/
    /*margin-bottom: 15px*/
/*}*/

/*.dataTables_wrapper .dataTables_length .select-wrapper {*/
    /*margin: 0 .5em;*/
    /*display: inline-block;*/
    /*width: auto*/
/*}*/

/*.dataTables_wrapper .dataTables_length .select-wrapper input {*/
    /*margin: 0*/
/*}*/

/*.dataTables_wrapper .dataTables_filter {*/
    /*float: right;*/
    /*text-align: right;*/
    /*margin-bottom: 15px*/
/*}*/

/*.dataTables_wrapper .dataTables_filter input {*/
    /*display: inline-block;*/
    /*margin-left: .5em;*/
    /*margin-bottom: 0;*/
    /*width: auto*/
/*}*/

/*.dataTables_wrapper .dataTables_info {*/
    /*clear: both;*/
    /*float: left;*/
    /*padding-top: .755em*/
/*}*/

/*.dataTables_wrapper .dataTables_paginate {*/
    /*float: right;*/
    /*text-align: right*/
/*}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button {*/
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
    /*min-width: 1.5em;*/
    /*padding: .5em 1em;*/
    /*margin-left: 2px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
    /*border-radius: 2px;*/
    /*color: inherit;*/
    /*border: 1px solid transparent*/
/*}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {*/
    /*text-decoration: none;*/
    /*color: #FFF;*/
    /*background-color: #5c6bc0;*/
    /*text-align: center;*/
    /*letter-spacing: .5px;*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, .26)*/
/*}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {*/
    /*cursor: default;*/
    /*color: #666;*/
    /*border: 1px solid transparent;*/
    /*background: 0 0;*/
    /*box-shadow: none*/
/*}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button:hover {*/
    /*background-color: #eee*/
/*}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button:active {*/
    /*outline: 0*/
/*}*/

/*.dataTables_wrapper .dataTables_processing {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 100%;*/
    /*height: 40px;*/
    /*margin-left: -50%;*/
    /*margin-top: -25px;*/
    /*padding-top: 20px;*/
    /*text-align: center;*/
    /*font-size: 1.2em;*/
    /*background-color: #fff;*/
    /*background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%)*/
/*}*/

/*.dataTables_wrapper .dataTables_scroll {*/
    /*clear: both*/
/*}*/

/*.dataTables_scrollHead .no-footer {*/
    /*margin-bottom: 0*/
/*}*/

/*.dataTables_scrollHead .no-footer th {*/
    /*border-bottom: 0*/
/*}*/

/*.dataTables_scrollBody .no-footer {*/
    /*border-top: 0;*/
    /*margin-bottom: 0*/
/*}*/

/*.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {*/
    /*-webkit-overflow-scrolling: touch*/
/*}*/

/*.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing {*/
    /*height: 0;*/
    /*overflow: hidden;*/
    /*margin: 0 !important;*/
    /*padding: 0 !important*/
/*}*/

/*.dataTables_wrapper.no-footer .dataTables_scrollBody {*/
    /*border-bottom: 1px solid #DDD*/
/*}*/

/*.dataTables_wrapper.no-footer div.dataTables_scrollBody table, .dataTables_wrapper.no-footer div.dataTables_scrollHead table {*/
    /*border-bottom: none*/
/*}*/

/*.dataTables_wrapper:after {*/
    /*visibility: hidden;*/
    /*display: block;*/
    /*content: "";*/
    /*clear: both;*/
    /*height: 0*/
/*}*/

/*@media screen and (max-width: 767px) {*/
    /*.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {*/
        /*float: none;*/
        /*text-align: center*/
    /*}*/

    /*.dataTables_wrapper .dataTables_paginate {*/
        /*margin-top: .5em*/
    /*}*/
/*}*/

/*@media screen and (max-width: 640px) {*/
    /*.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length {*/
        /*float: none;*/
        /*text-align: center*/
    /*}*/

    /*.dataTables_wrapper .dataTables_filter {*/
        /*margin-top: .5em*/
    /*}*/
/*}*/


.mail-compose-btn {
    position: fixed;
    bottom: 15px;
    right: 15px
}

.fc .mail-search button, .mail-search .btn, .mail-search .btn-large, .mail-search .fc button, .mail-search .sp-container button, .sp-container .mail-search button {
    position: absolute;
    top: 1px;
    right: 0
}

.mail-sidebar li > .sp-cancel, .mail-sidebar li > a {
    display: block;
    padding: 10px 15px;
    color: inherit
}

.mail-sidebar li > .sp-cancel i, .mail-sidebar li > a i {
    font-size: 1.1em;
    margin-right: 5px;
    vertical-align: middle;
    width: 1.2rem;
    display: inline-block
}

.mail-sidebar li.active > .sp-cancel, .mail-sidebar li.active > a, .mail-sidebar li:hover > .sp-cancel, .mail-sidebar li:hover > a {
    background: rgba(0, 0, 0, .04)
}

.mail-sidebar li.active > .sp-cancel, .mail-sidebar li.active > a {
    color: #5c6bc0
}

.mail-sidebar hr {
    margin-top: 15px;
    margin-bottom: 15px
}

.mensagens {
    padding-right: 1rem
}

.mensagens table > tbody > tr.unread {
    font-weight: 700
}

.mensagens table > tbody > tr.read {
    background: #f5f5f5
}

.mensagens table > tbody > tr .sp-cancel, .mensagens table > tbody > tr a {
    color: inherit
}

.mensagens table > tbody > tr > td, .mensagens table > tbody > tr > th {
    padding: 10px
}

.mensagens table > tbody > tr .mail-check label {
    padding-left: 20px;
    margin-right: 0;
    height: 17px;
    line-height: 17px
}

.mensagens table > tbody > tr .mail-contact {
    width: 25%
}

.mensagens table > tbody > tr .mail-subject {
    width: 75%
}

.mensagens table > tbody > tr .mail-date {
    text-align: right;
    white-space: nowrap
}
