/*--------------------------------------------------------------
 #titulo da pagina (legado)
--------------------------------------------------------------*/

#titulo {
    margin-top: 10px;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    background: #fff;

}

#titulo div {
    margin: 0 15px 0 0;
}

#titulo span {
    float: right;
    font-size: 12px;
}

#titulo .voltar a {
    font-size: 0px;
}

#titulo .voltar a:after {
    font-family: 'Material Icons';
    content: "keyboard_return";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 0;
    padding: 15px 10px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    background-color: #eeeeee;
    color: #9e9e9e;

}



/*--------------------------------------------------------------
x - titulo da pagina (novo)
--------------------------------------------------------------*/

.page-title {
    display: block;
    margin: -2rem -2rem 2rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid #DEE1EC;
    background: #fff;
}

.page-title .row {
    margin-bottom: 0;
    margin-top: 0;
}

.page-title .row .col {
    padding: 0px;
}


.page-title h1 {
    /*font-size: 2rem;*/
    /*line-height: 2rem;*/
    margin: 0 15px 0 0;
    color: #1f1f1f;
}

.page-title ul {
    color: #363636;
    margin: 5px 0 0;
}

.page-title li {
    display: inline-block;
}

.page-title li:after {
    content: '/';
    padding: 0px;
    padding-left: 2px;
}
.page-title li:last-child {
    font-weight: bold;
}

.page-title li:last-child:after {
    content: '';
}

.page-title li,
.page-title li a {
    color: inherit;
    padding: 0 2px;
    /*font-size: 15px*/
}

.page-title li a i {
    /*font-size: 14px;*/
    line-height: 13px;
    vertical-align: middle;
    margin-right: 3px;
}

.page-title li:first-child .sp-cancel,
.page-title li:first-child a {
    padding-left: 0;
}

