/* --------------------------------------------------------------------------
 TYPOGRAPHY
/*------------------------------------------------------------------------ */

/*--------------------------------------------------------------
LEGADO
--------------------------------------------------------------*/
#conteudo h1, h2, h3, h4, h5, h6 {
    margin-bottom: 14px;
    color: #435f20;
}

/*--------------------------------------------------------------

--------------------------------------------------------------*/
body * {
    font-family: "Roboto", sans-serif;
}

/*------------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
    display: block;
    clear: both;
}

h1 {
   color: #424242;
   font-weight: 400;
   text-transform: uppercase;
   font-size: 30px;
}

@media only screen and (max-width: 993px) {
    h1 {
        font-size: 50px;
    }
}

h2 {
    color: #424242;
    font-size: 26px;
}

@media only screen and (max-width: 993px) {
    h2 {
        font-size: 40px;
    }
}

h3 {
    color: #424242;
    font-size: 25px;
}


@media only screen and (max-width: 993px) {
    h3 {
        font-size: 30px;
    }
}

h4 {
    color: #424242;
    text-transform: uppercase;
    font-size: 20px;
}

@media only screen and (max-width: 993px) {
    h4 {
        font-size: 25px;
    }
}


h5 {
    color: #424242;
    font-size: 17px;
}

@media only screen and (max-width: 993px) {
    h5 {
        font-size: 20px;
    }
}

h6 {
    color: #424242;
    font-size: 15px;
}

td,
p {
    font-size: 15px;
    line-height: 1.4em;
    letter-spacing: 0.01rem;
    color: black;
    -webkit-font-smoothing: antialiased;
}

.small, small, .wp-caption-text {
    font-size: 13px;
}

b {font-weight: bold;}
i {font-style: italic;}
em { font-style: italic;}

hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin: 5px auto;
}

#conteudo fieldset legend,
fieldset legend {
    color: black;
}