<!-- 
/**
 * Folha de estilo principal do sistema
 * @author IVIA / POLITEC
 * @since 2010/2011
 * @version 1.0
 * @copyright © 2010/2011 Ministério da Cultura - Todos os direitos reservados.
 * @package css
 * @link http://salic.cultura.gov.br
 */

@charset "utf-8";

/* ========== INÍCIO ESTRUTURA GERAL DO LAYOUT ========== */
* {
	margin:0;
	padding:0;
	border:none;
}
html { overflow-y:auto; }
body {
	margin:0;
	background:#f8f8f8;
	font:12px "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	/*color:#666;*/
	color:#000;
	line-height:14pt;
}
p {
	line-height:14pt;
	padding:0 0 10px;
}
.identar {
	text-indent:40px;
}
img {
	border:none;
}
strong {
	font-weight:bold;
}
a:link, a:active, a:visited {
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
#topo {
	width:100%;
	height:126px;
	background:url(../img/bg-topo.png) no-repeat 0 31px #acda5d;
	margin-bottom:10px;
}
.barra_governo, .barra_governo div.fl {
	width:100%;
	height:36px;
	background:url(../img/gov/bg_barra_governo.gif) 0 0 repeat-x;
}
.barra_governo div.fl {
	background:url(../img/gov/barra_governo.gif) 0 0 no-repeat;
}
.barra_governo div.fr {
	float:right;
	width:125px;
	height:36px;
	background:url(../img/gov/aba_direita_barra_gov.gif) 0 0 no-repeat;
}
.barra_governo div.fr p {
	margin-top:5px;
}
#combousuario {
	float:right;
	margin-top:10px;
	margin-right:15px;
}
.perfilXgrupo {
	border:1px solid #777;
	background:#fc0;
	font-size:11px;
	padding:0;
	margin:0;
}
#logo h1 {
	margin:0;
	text-indent:-1000px;
	background:url(../img/logo.png) center no-repeat;
	height:95px;
	width:224px;
	cursor:pointer;
}
#logo h1 a {
	display:block;
	height:95px;
	width:224px;
}
#atalhos {
	position:absolute;
	top:42px;
	right:5px;
}
#atalhos .config {
	background:url(../img/config.png) no-repeat;
}
#atalhos .ajuda  {
	background:url(../img/ajuda.png) no-repeat;
}
#atalhos .sair   {
	background:url(../img/sair.png) no-repeat;
}
#atalhos ul li {
	display:block;
	float:left;
	list-style-type:none;
	padding:0 12px 1px 0;
}
#atalhos a {
	color:#27360d;
	text-decoration:none;
	display:block;
	text-indent:21px;
}
#navglobal {
	float:right;
	background:url(../img/navglobal-corner.gif) no-repeat #36963f;
	margin:-46px 0 0 20px;
}
#navglobal ul li {
	list-style-type:none;
	display:inline;
	margin:0 1px 0 2px;
	padding:7px 0 6px;
	text-align:center;
}
#navglobal ul li a {
	font-size:11px;
	padding:0 9px;
}
#navglobal ul li.ativo {
	background:url(../img/navglobal-ativo-right.gif) right no-repeat;
}
#navglobal ul li.ativo span {
	background:url(../img/navglobal-ativo-left.gif) left no-repeat;
	padding:7px 0 6px;
}
#navglobal ul li.ativo a {
	color:#666;
}
#navglobal ul li a.home {
	background:url(../img/home.png) center no-repeat;
	padding:2px;
}
#navglobal ul li a.home span {
	visibility:hidden;
}
#navglobal ul li a {
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
#container {
	position:relative;
	top:10px;
}
#menuContexto, #conteudo, #titulo, #rodapeConteudo {
	float:left;
}
#conteudo, #titulo, #rodapeConteudo {
	position:relative;
	top:10px;
	left:20px;
}
#conteudo {
	border-left:1px solid #e8e8e8;
	background:url(../img/sombra-conteudo-right.gif) right repeat-y #fff;
}
#conteudo a {
	color:#0a449b;
}
#conteudo h1, h2, h3, h4, h5, h6 {
	margin-bottom:14px;
	font-weight:normal;
	color:#435f20;
}
#conteudo h1 {
	font-size:28px;
}
#conteudo h2 {
	font-size:26px;
}
#conteudo h3 {
	font-size:10px;
}
#conteudo h4 {
	font-size:18px;
}
#conteudo h5 {
	font-size:16px;
}
#conteudo h6 {
	font-size:14px;
}
#breadcrumb {
	float:left;
	position:relative;
	left:26px;
}
#breadcrumb ul li {
	list-style-type:none;
	display:inline;
	background:url(../img/breadcrumb.gif) no-repeat;
	padding:0 6px 3px 20px;
}
#breadcrumb ul li.first { /* primeiro elemento do breadcrumb */
	background:none;
	padding:0 6px 3px 0;
}
#breadcrumb ul li.last { /* último elemento do breadcrumb */
	/*color:#666;*/
	color:#000;
	font-weight:bold;
}
#breadcrumb ul li a {
	/*color:#666;*/
	color:#000;
	text-decoration:none;
}
#breadcrumb ul li a:hover { text-decoration:underline; }
#titulo {
	background:url(../img/bg-titulo-left.gif) repeat-x;
	color:#35953f;
	font-size:20px;
}
#titulo div {
	background:url(../img/bg-titulo-right.gif) right no-repeat;
	padding:20px 25px 19px 15px;
}
#titulo span {
	float:right;
	font-size:12px;
	/*color:#666;*/
	color:#000;
	margin-left:26px;
}
#titulo span a {
	/*color:#666;*/
	color:#000;
	text-decoration:none;
}
#titulo span a:hover {
	text-decoration:underline;
}
#titulo .voltar {
	background:url(../img/voltar.png) no-repeat;
	padding-left:17px;
}
#menuContexto {
	width:224px;
	position:relative;
	left:9px;
	background:url(../img/sombra-menu-contexto.gif) right repeat-y #fff;
}
#menuContexto .top {
	background:url(../img/sombra-menu-contexto-top.gif) no-repeat;
	height:11px;
}
#menuContexto .bottom {
	background:url(../img/sombra-menu-contexto-bottom.gif) no-repeat;
	height:11px;
}
#menuContexto .last {
	border-bottom:none;
}
#menuContexto br.br {
	line-height:1px;
}
#menuContexto #espaco {
	background:#f8f8f8;
	height:auto;
}
#imagemRodape, #imagemRodapeTelaMenorQueMenu {
	position:relative;
	background:url(../img/sombra-conteudo-bottom.gif) no-repeat;
	height:7px;
	float:left;
	left:20px;
	top:10px;
	width:100%;
}
#imagemRodape {
	margin-left:225px;
}
#rodapeConteudo, #rodapeConteudo_com_menu, #rodapeSemSolicitacao {
	background:url(../img/sombra-conteudo-bottom.gif) no-repeat;
	position:relative;
	height:7px;
}
#rodapeConteudo {
	float:left;
	left:20px;
}
#rodapeConteudo_com_menu {
	float:right;
	left:-8px;
	top:10px;
}
#rodapeSemSolicitacao {
	left:1px;
	top:40px;
}
#imagemRodapeTelaMenorQueMenu span, #imagemRodape span, #rodapeConteudo span, #rodapeConteudo_com_menu span {
	background:url(../img/sombra-conteudo-bottom-corner.gif) no-repeat;
	height:7px;
	width:8px;
	display:block;
	float:right;
}
#miolo, .miolo {
	margin:10px auto 0;
	padding:10px;
	width:97%;
}
#miolo fieldset, .miolo fieldset {
	border:1px solid #d4d4d4;
	padding:5px 20px;
	margin-bottom:10px;
	background:#f8f8f8;
}
#miolo fieldset legend, .miolo fieldset legend, fieldset legend {
	font-size:16px;
	font-weight:bold;
	color:#35953f;
	padding:5px;
}
fieldset {
	border:1px solid #d4d4d4;
	padding:5px;
	margin:20px;
	background:#f8f8f8;
}
#miolo .imagem, .miolo .imagem {
	margin:0 20px 10px 0;
	padding:5px;
	border:1px solid #dcdcdc;
}
.miolo_grid_01 {
	margin:0 30px 0;
}
#barraBotoes {
	background:#f0f0f0;
	padding:12px 0 7px 20px;
}
#barraBotoes .botao_texto {
	margin-right:8px;
}
#div {
	width:auto;
	height:31px;
	font-size:11px;
}
#divmenuprincipalcenter {
	height:31px;
	float:left;
	width:auto;
	text-align:center;
}
#divrigth {
	width:11px;
	height:31px;
	float:left;
	display:block;
}
#divleft {
	width:9px;
	height:31px;
	float:left;
	display:block;
}
#div:hover #divrigth, #div:hover #divleft {
	height:31px;
	float:left;
	display:block;
}
#div:hover #divrigth {
	width:11px;
	background:url(../img/menu_rigth.gif) no-repeat;
}
#div:hover #divleft {
	width:9px;
	background:url(../img/menu_left.gif);
}
#div:hover #divmenuprincipalcenter {
	background:url(../img/menu_center.gif) repeat;
	float:left;
	width:auto;
	height:31px;
}
#rodape {
	background:url(../img/rodape-corner-left.gif) top left no-repeat #36963f;
	margin:0 auto;
	color:#fff;
	text-align:center;
	position:relative;
	top:30px;
	font-family:Arial, Helvetica, sans-serif;
}
#rodape div {
	background:url(../img/rodape-corner-right.gif) bottom right no-repeat;
	padding:8px 0;
}

/* ajustes menu Ipod */
ul.fg-menu-footer {
	position:absolute;
	width:290px;
}
#menuContainer {
	z-index:30;
}
/* ========== FIM ESTRUTURA GERAL DO LAYOUT ========== */



/* ========== INÍCIO JQUERY ========== */
#Jquery {
	margin:50px;
	font:12px "Trebuchet MS", sans-serif;
}
/* ========== FIM JQUERY ========== */



/* ========== INÍCIO TABELAS ========== */
table caption {
    border: 2px solid #cecece;
    border-bottom-width: 0px;
    padding: 10px;
    font-weight: bold;
    color: #3a7300;
    text-transform: uppercase;
    font-size: 11px;
}

table {
	margin:0 auto;
	background:#ccc;
}
table td {
	background:url(../img/bg-celulas.gif) repeat-x #fff;
	padding:8px;
	color:auto;
}
table tr.linha:hover td {
	background:#eef8de;
}
table tr.destacar td, table td.destacar {
	background:#dfefc2;
}
table td a {
	color:#333 !important;
}
table th {
	background:#abda5d;
	padding:8px;
	color:#3a7300;
	text-transform:uppercase;
	font-size:11px;
}
table tfoot td {
	background:#f3f3f3;
	text-align:center;
	word-spacing:.8em;
	color:#999;
	border-top:1px solid #fff;
	border-bottom:1px solid #b0b0b0;
}
tfoot td a {
	text-decoration:none !important;
	color:#999 !important;
}
table tfoot td img {
	position:relative;
	top:3px;
}
table tfoot td strong {
	color:#333;
}
.tabela { /* tamanho de tabelas com registros */
	margin:10px auto;
	width:97%;
}
.tabela_busca { /* tabela para consulta de dados centralizada na tela */
	margin:100px auto;
}
.titulo_tabela { /* títulos de tabelas */
	background:#36963f;
	color:#fff;
	font-weight:bold;
	text-align:center;
}
.titulo_campo { /* títulos de campos */
	background:#fff url(../img/bg-celulas.gif) repeat-x;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}
.fundo_linha1, .fundo_linha1 td { background:#fff url(../img/bg-celulas1.gif) top left repeat-x; }
.fundo_linha2, .fundo_linha2 td { background:#e8e8e8 url(../img/bg-celulas2.gif) top left repeat-x; }
.fundo_linha3, .fundo_linha3 td { background:#ffffe8 url(../img/bg-celulas3.gif) top left repeat-x; }
.fundo_linha4, .fundo_linha4 td { background:#ffcd82 url(../img/bg-celulas4.gif) top left repeat-x; }
.fundo_linha5, .fundo_linha5 td { background:#d5e5b4 url(../img/bg-celulas5.gif) top left repeat-x; }
.delFormatTD { /* apaga a formatação das celulas */
	margin:0 auto;
	padding:0;
	border:none;
	background:none;
}
/* ========== FIM TABELAS ========== */



/* ========== INÍCIO ABAS ========== */
div.simpleTabs {
	padding:0 2px 0 0;
	position:relative;
	top:21px;
	left:0;
}
ul.simpleTabsNavigation {
	position:relative;
	z-index:20;
}
ul.simpleTabsNavigation li {
	list-style:none;
	display:block;
	float:left;
	height:32px;
	margin:0;
}
ul.simpleTabsNavigation li span {
	background:url(../img/tab-left.gif) no-repeat left top;
	display:block;
	height:26px;
	padding:5px 0 0 30px;
}
ul.simpleTabsNavigation li a {
	background:url(../img/tab-right.gif) no-repeat right top;
	color:#6b7262 !important;
	text-decoration:none;
	border-bottom:1px solid #8a9979;
	height:31px;
	padding:0 30px 0 0;
	display:block;
}
ul.simpleTabsNavigation li a.current {
	background:url(../img/tab-right-on.gif) no-repeat right top;
	color:#435f20 !important;
	border-bottom:1px solid #fff;
}
ul.simpleTabsNavigation li a.current span {
	background:url(../img/tab-left-on.gif) no-repeat left top;
}
div.simpleTabsContent {
	border-top:1px solid #8a9979;
	padding:15px 15px 5px;
	display:none;
	position:relative;
	z-index:10;
	margin-top:-1px;
}
div.simpleTabsContent.currentTab {
	display:block;
}
/* ========== FIM ABAS ========== */



/* ========== INÍCIO FORMULÁRIOS ========== */
.input_simples, .textarea_simples, .select_simples, .input_simples2 {
	background:#fff url(../img/input-bg.gif) repeat-x;
	border:1px solid #ccc;
	padding:4px;
}
.input_simples2 {
	width:80px;
}
.textarea_simples {
	background:#fff url(../img/textarea-bg.gif) repeat-x;
}
.select_simples {
	background:#f8f8f8;
}
.input_simples:hover, .input_simples:active, 
.textarea_simples:hover, .textarea_simples:active, 
.select_simples:hover, .select_simples:active {
	background:#fff url(../img/bg-celulas.gif) repeat-x;
	border:1px solid #777;
}
label {
	font-weight:bold;
	cursor:pointer;
}
.form .input, .form .select {
	padding:3px;
	color:#333;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	font:12px "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
}
.form .input {
	background:url(../img/input-bg.gif) repeat-x #fff;
	float:left;
}
.form .select {
	border:1px solid #ccc;
	background:#fff;
	padding:2px;
}
.form .left, .form .right, .form .right_busca {
	background:url(../img/input-borda-left.gif) no-repeat;
	width:5px;
	height:26px;
	float:left;
}
.form .right {
	background:url(../img/input-borda-right.gif) no-repeat;
}
.form .right_busca {
	width:30px;
	background:url(../img/input-borda-right-busca.gif) no-repeat;
}
.right_busca a {
	display:block;
	width:30px;
	height:26px;
}
.form-textarea .textarea {
	padding:3px;
	color:#333;
	border:1px solid #ccc;
	border-left:none;
	font:12px "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
}
.form .textarea {
	background:url(../img/textarea-bg.gif) repeat-x #fff;
	width:500px;
	height:110px;
}
.form-textarea .left {
	background:url(../img/textarea-borda-left.gif) no-repeat;
	width:5px;
	height:118px;
	float:left;
}
.checkradio {
	background:none;
	border:0;
	float:none;
	clear:auto;
	display:inline;
	color:#777;
	font-weight:bold;
}
.total_itens {
	font-size:11px;
}
#editor {
	text-align:left;
	overflow:auto;
}

/* formatando textfield para datas com calendario */
.data input {
	width:90px;
}
.data img {
	position:relative;
	left:6px;
	top:3px;
}

/* formatando textfield para busca */
.busca {
	margin-bottom:5px;
}
.busca .campoBusca {
	background:url(../img/buscar.gif) no-repeat;
	width:314px;
}

/* formatando elementos do formulario quando ativos */
.on .input {
	background:#fff !important;
	border-top:1px solid #abda5d !important;
	border-bottom:1px solid #abda5d !important;
}
.on .left {
	background:url(../img/input-borda-left-on.gif) no-repeat !important;
}
.on .right {
	background:url(../img/input-borda-right-on.gif) no-repeat !important;
}
.on-textarea .textarea {
	background:#fff !important;
	border:1px solid #abda5d !important;
	border-left:none !important;
}
.on-textarea .left { background:url(../img/textarea-borda-left-on.gif) no-repeat !important; }

/* formatando elementos do formulario quando desabilitados */
.off .input {
	background:#eaeaea !important;
	border-top:1px solid #ccc !important;
	border-bottom:1px solid #ccc !important;
	color:#999;
}
.off .left 	{
	background:url(../img/input-borda-left-off.gif) no-repeat !important;
}
.off .right {
	background:url(../img/input-borda-right-off.gif) no-repeat !important;
}
.off-textarea .textarea {
	background:#eaeaea !important;
	border:1px solid #ccc !important;
	border-left:none !important;
	color:#999;
}
.off-textarea .left {
	background:url(../img/textarea-borda-left-off.gif) no-repeat !important;
}
/* ========== FIM FORMULÁRIOS ========== */



/* ========== INÍCIO TAMANHOS ========== */
.w100 input { width:100px; }
.w200 input { width:200px; }
.w250 input { width:250px; }
.w350 input { width:350px; }
.w500 input { width:500px; }
.w50   { width:50px; }
.w60   { width:60px; }
.w70   { width:70px; }
.w80   { width:80px; }
.w90   { width:90px; }
.w100  { width:100px; }
.w150  { width:150px; }
.w200  { width:200px; }
.w240  { width:240px; }
.w300  { width:300px; }
.w400  { width:400px; }
.w500  { width:500px; }
.w550  { width:550px; }
.w560  { width:560px; }
.w570  { width:570px; }
.w580  { width:580px; }
.w590  { width:590px; }
.w600  { width:600px; }
.w650  { width:650px; }
.w680  { width:680px; }
.w700  { width:700px; }
.w800  { width:800px; }
.w900  { width:900px; }
.w980  { width:980px; }
.w1000 { width:1000px; }
.w1100 { width:1100px; }
.w1200 { width:1200px; }
.w1300 { width:1300px; }
.w1400 { width:1400px; }
.w1500 { width:1500px; }
.w1600 { width:1600px; }
.w1700 { width:1700px; }
.w1800 { width:1800px; }
.w1900 { width:1900px; }
.w2000 { width:2000px; }
.w10p  { width:10%; }
.w20p  { width:20%; }
.w30p  { width:30%; }
.w40p  { width:40%; }
.w50p  { width:50%; }
.w60p  { width:60%; }
.w70p  { width:70%; }
.w80p  { width:80%; }
.w90p  { width:90%; }
.w91p  { width:91%; }
.w92p  { width:92%; }
.w93p  { width:93%; }
.w94p  { width:94%; }
.w95p  { width:95%; }
.w96p  { width:96%; }
.w97p  { width:97%; }
.w98p  { width:98%; }
.w99p  { width:99%; }
.w100p { width:100%; }
.h100  { height:100px; }
.h180  { height:180px; }
.h200  { height:200px; }
.h300  { height:300px; }
/* ========== FIM TAMANHOS ========== */



/* ========== INÍCIO CORES ========== */
.red, .red a       { color:#c30; }
.green, .green a   { color:#096; }
.blue, .blue a     { color:#06c; }
.orange, .orange a { color:#f90; }
.black, .black a   { color:#000; }
.white, .write a   { color:#fff; }
.bg_red     { background:#c30; }
.bg_green   { background:#096; }
.bg_blue    { background:#06c; }
.bg_orange  { background:#f90; }
.bg_black   { background:#000; }
.bg_white   { background:#fff; }
.bold       { font-weight:bold; }
.del_link a { text-decoration:none; color:auto; }
label.error { color:red; }

/* cores conforme situacao */
.AG { color:#000; }
.AV { color:#000; }
.EA { color:#000; }
.AD { color:#096; }
.AI { color:#f00; }
.CS { color:#06f; }

/* formatação de planilhas */
.planilha_incentivo div.plan, .total_planilha_incentivo {
	color:#c30;
	font-size:17pt;
	font-weight:bold;
	width:96%;
}
.planilha_produto div.plan, .total_planilha_produto {
	color:#096;
	font-size:15pt;
	font-weight:bold;
	width:94%;
	margin-left:2%;
}
.planilha_etapa div.plan, .total_planilha_etapa {
	color:#f90;
	font-size:13pt;
	font-weight:bold;
	width:92%;
	margin-left:4%;
}
.planilha_uf div.plan, .total_planilha_uf {
	color:#000;
	font-size:11pt;
	font-weight:bold;
	width:90%;
	margin-left:6%;
}
div.plan {
	cursor:pointer;
}
div.plan span {
	margin-left:2%;
}
.total_planilha_incentivo, .total_planilha_produto, .total_planilha_etapa, .total_planilha_uf {
	cursor:auto;
}
/* ========== FIM CORES ========== */



/* ========== INÍCIO ALINHAMENTOS ========== */
.float_left  { float:left; }
.float_right { float:right; }
.esquerda    { text-align:left; }
.direita     { text-align:right; }
.centro      { text-align:center; }
.justificado { text-align:justify; }
/* ========== FIM ALINHAMENTOS ========== */



/* ========== INÍCIO EXIBIÇÕES E MENSAGENS DO SISTEMA ========== */
.carregando, .msg, .msgALERT, .msgCONFIRM, .msgERROR, .carregando_ajax {
	background:#ffc;
	border:1px solid #ccc;
	padding:5px;
	margin:10px 10px 20px;
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color:#f03;
	text-align:left;
}
.carregando {
	text-align:center;
}
.carregando_ajax {
	background:#ffc url(../img/ajax.gif) 5px center no-repeat;
	vertical-align:bottom;
}
.carregando_ajax .txt_ajax {
	margin-left:90px;
}
.msgALERT, .msgCONFIRM, .msgERROR {
	min-height:30px;
}
.msgALERT div, .msgCONFIRM div, .msgERROR div {
	margin-left:40px;
	font:normal 14px Arial, Helvetica, sans-serif;
}
.msgALERT a, .msgCONFIRM a, .msgERROR a {
	color:navy;
	font-weight:bold;
}
.msgALERT {
	border:1px solid #fc0;
	color:#000;
	background:#ffc url(../img/msgALERT.png) 3px 3px no-repeat;
}
.msgCONFIRM {
	border:1px solid #096;
	color:#000;
	background:#6c6 url(../img/msgCONFIRM.png) 3px 3px no-repeat;
}
.msgERROR {
	border:1px solid #f00;
	color:#000;
	background:#f96 url(../img/msgERROR.png) 3px 3px no-repeat;
}
.sumir {
	display:none;
}
/* ========== FIM EXIBIÇÕES E MENSAGENS DO SISTEMA ========== */



/* ========== INÍCIO MENU SANFONA ========== */
/* ajustes para ativação do highlight no menu 'sanfona' */
.qmactive { background:url(../img/seta-menu-contexto-on.png) no-repeat !important; }
#space_menu {
	background:#f8f8f8;
	height:480px;
}
/* ========== FIM MENU SANFONA ========== */



/* ========== INÍCIO LOADER ========== */
.loader {
	background:url(../img/ajax.gif) no-repeat center;
	padding:5px 0 50px;
	height:1px;
}
.tag_pre {
	overflow-x:auto;
	white-space:-moz-pre-wrap !important;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	white-space:pre-wrap;
	word-wrap: break-word;
}
/* ========== FIM LOADER ========== */



/* ========== INÍCIO REGULARIDADE ========== */
#regularidade {
	width:200px;
	height:auto;
}
#regularidade table {
	width:200px;
	height:auto;
	margin:0 auto;
	background:#ccc;
	font-size:10px;
	text-align:center;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#regularidade table tr.linha:hover td {
	background:#eef8de;
}
#regularidade table td a {
	color:#333 !important;
}
#regularidade table th {
	background:#abda5d;
	color:#3a7300;
	text-transform:uppercase;
	font-size:9px;
	font-weight:bold;
}
#regularidade table td {
	padding:8px;
	background:#f3f3f3;
	text-align:center;
	color:black;
	border-top:1px solid #fff;
	border-bottom:1px solid #b0b0b0;
	font-weight:bold;
}
/* ========== FIM REGULARIDADE ========== */



/* ========== INÍCIO BOTÕES ========== */
.btn_close, .btn_help {
	float:right;
	cursor:pointer;
	width:20px;
	height:20px;
	border:0;
	background:url(../img/btn_fechar.png) center center no-repeat;
}
.btnHelp {
	cursor:help;
	background:url(../img/btn_ajuda.gif) center center no-repeat;
}
.btn {
	cursor:pointer;
	width:auto;
	padding:2px;
	font-weight:bold;
	color:green;
	background:#ccc url(../img/bg-celulas2.gif) repeat-x;
	border:1px solid #ccc;
}
.btn:hover {
	border:1px solid #777;
	color:#fff;
}
.icn_mais, .icn_menos, .icn_vazio {
	width:auto;
	display:block;
	cursor:pointer;
	float:left;
	padding:2px;
}
.icn_mais span, .icn_menos span, .icn_vazio span {
	margin-left:18px;
}

/* botoes de formularios */
.btn_vincular,
.btn_desvincular,
.btn_rejeitar,
.btn_editar,
.btn_editar-off,
.btn_desarquivar,
.btn_excluir,
.btn_exclusao,
.btn_exclusao-off,
.btn_off,
.btn_on,
.btn_senha,
.btn_visualizar,
.btn_busca,
.btn_npublicar,
.btn_publicar,
.btn_gerarpublicacao,
.btn_adicionar,
.btn_remover,
.btn_cadastrar,
.btn_alterar,
.btn_incluir,
.btn_cancelar,
.btn_reintegrar,
.btn_reintegrar-off,
.btn_imprimir,
.btn_imprimir_guia,
.btn_pdf,
.btn_xls,
.btn_excluir_tudo,
.btn_enviar,
.btn_buscar,
.btn_localizar,
.btn_limpar,
.btn_marcar,
.btn_desmarcar,
.btn_p_anterior,
.btn_p_proximo,
.btn_p_anterior-off,
.btn_p_proximo-off,
.btn_descrever_item,
.btn_comprovar_pagamento,
.btn_p_pri_pag,
.btn_p_ult_pag,
.btn_ok,
.btn_sim,
.btn_nao,
.btn_sair,
.btn_ord_up,
.btn_ord_down,
.btn_reprovar,
.btn_salvar,
.btn_salvar-off,
.btn_deposito_equivocado,
.btn_confirmar,
.btn_gerar_grafico,
.btn_inicio,
.btn_montarconsulta,
.btn_novo,
.btn_novo-off,
.btn_novoproponente,
.btn_cadastrar_proponente,
.btn_solicitarvinculo,
.btn_novaproposta,
.btn_ordenar,
.btn_recarregar,
.btn_resumo,
.btn_ultimo,
.btn_voltar,
.btn_pesquisar,
.btn_finalizar,
.btn_finalizar-off,
.btn_abrir,
.btn_ver,
.btn_avaliar,
.btn_aprovar,
.btn_aprovar-off,
.btn_perfil,
.btn_validarItem,
.btn_upload,
.btn_anexar,
.btn_cancelar-off,
.btn_enviar-off,
.btn_novo_produto,
.btn_gerar_extrato,
.btn_novo_recurso,
.btn_novo_recurso-off,
.btn_configurar_grafico,
.btn_aprovar,
.btn_oficializar_e_enviar,
.btn_devolver_tecnico,
.btn_redistribuir_projetos,
.btn_pesquisar_projeto,
.btn_finalizar_recurso,
.btn_aprovar-off,
.btn_oficializar_e_enviar-off,
.btn_devolver_tecnico-off,
.btn_redistribuir_projetos-off,
.btn_pesquisar_projeto-off,
.btn_analise_projeto,
.btn_move_down, 
.btn_move_left,
.btn_move_left_all,
.btn_move_right,
.btn_move_right_all,
.btn_move_up,
.btn_enviar_solicitacao,
.btn_visualizar_comprovacao,
.btn_retirar_pauta,
.btn_cancelar_solicitacao,
.btn_cancelar_retirar_pauta,
.btn_devolver_vinculada,
.btn_transferir,
.btn_transferir-off,
.btn_gerar_despachos,
.btn_imprimir_despacho,
.btn_enviar_para_pagamento,
.btn_visualizar2,
.btn_registrar_ordem_bancaria,
.btn_historico
{
	border-top:1px solid #efefef;
	border-left:1px solid #efefef;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
	margin:0 5px 0 0;
	width:20px;
	height:21px;
	text-align:center;
	cursor:pointer;
}
.btn_vincular:hover,
.btn_rejeitar:hover,
.btn_desvincular:hover,
.btn_editar:hover,
.btn_editar-off:hover,
.btn_desarquivar:hover,
.btn_excluir:hover,
.btn_exclusao:hover,
.btn_exclusao-off:hover,
.btn_off:hover,
.btn_on:hover,
.btn_senha:hover,
.btn_visualizar:hover,
.btn_adicionar:hover,
.btn_remover:hover,
.btn_busca,
.btn_npublicar:hover,
.btn_publicar:hover,
.btn_gerarpublicacao:hover,
.btn_cadastrar:hover,
.btn_alterar:hover,
.btn_incluir:hover,
.btn_cancelar:hover,
.btn_reintegrar:hover,
.btn_imprimir:hover,
.btn_xls:hover,
.btn_pdf:hover,
.btn_excluir_tudo:hover,
.btn_reintegrar-off:hover,
.btn_enviar:hover,
.btn_buscar:hover,
.btn_localizar:hover,
.btn_limpar:hover,
.btn_marcar:hover,
.btn_desmarcar:hover,
.btn_p_anterior:hover,
.btn_descrever_item:hover,
.btn_comprovar_pagamento:hover,
.btn_p_proximo:hover,
.btn_p_pri_pag:hover,
.btn_p_ult_pag:hover,
.btn_ok:hover,
.btn_sim:hover,
.btn_nao:hover,
.btn_ord_up:hover,
.btn_ord_down:hover,
.btn_sair:hover,
.btn_reprovar:hover,
.btn_salvar:hover,
.btn_deposito_equivocado:hover,
.btn_confirmar:hover,
.btn_gerar_grafico:hover,
.btn_inicio:hover,
.btn_montarconsulta:hover,
.btn_novo:hover,
.btn_novo-off:hover,
.btn_novoproponente:hover,
.btn_cadastrar_proponente:hover,
.btn_solicitarvinculo:hover,
.btn_novaproposta:hover,
.btn_ordenar:hover,
.btn_recarregar:hover,
.btn_resumo:hover,
.btn_ultimo:hover,
.btn_voltar:hover,
.btn_pesquisar:hover,
.btn_finalizar:hover,
.btn_finalizar-off:hover,
.btn_abrir:hover,
.btn_ver:hover,
.btn_avaliar:hover,
.btn_aprovar:hover,
.btn_aprovar-off:hover,
.btn_perfil:hover,
.btn_upload:hover,
.btn_anexar:hover,
.btn_cancelar-off:hover,
.btn_novo_produto:hover,
.btn_gerar_extrato:hover,
.btn_novo_recurso:hover,
.btn_novo_recurso-off:hover,
.btn_configurar_grafico:hover,
.btn_aprovar:hover,
.btn_oficializar_e_enviar:hover,
.btn_devolver_tecnico:hover,
.btn_redistribuir_projetos:hover,
.btn_pesquisar_projeto:hover,
.btn_finalizar_recurso:hover,
.btn_aprovar-off:hover,
.btn_oficializar_e_enviar-off:hover,
.btn_devolver_tecnico-off:hover,
.btn_redistribuir_projetos-off:hover,
.btn_pesquisar_projeto-off:hover,
.btn_analise_projeto:hover,
.btn_move_down:hover, 
.btn_move_left:hover,
.btn_move_left_all:hover,
.btn_move_right:hover,
.btn_move_right_all:hover,
.btn_move_up:hover,
.btn_enviar_solicitacao:hover,
.btn_retirar_pauta:hover,
.btn_cancelar_solicitacao:hover,
.btn_cancelar_retirar_pauta:hover,
.btn_devolver_vinculada:hover,
.btn_transferir:hover,
.btn_transferir-off:hover,
.btn_gerar_despachos:hover,
.btn_imprimir_despacho:hover,
.btn_enviar_para_pagamento:hover,
.btn_registrar_ordem_bancaria:hover,
.btn_visualizar2:hover,
.btn_historico:hover
{
	background-color:#fff;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #efefef;
	border-bottom:1px solid #efefef;
}
.btn_move_down, 
.btn_move_left,
.btn_move_left_all,
.btn_move_right,
.btn_move_right_all,
.btn_move_up {
	width:16px;
	height:16px;
}
.btn_xls,
.btn_pdf {
	width:44px;
}
.btn_adicionar,
.btn_remover,
.btn_cadastrar,
.btn_alterar,
.btn_incluir,
.btn_cancelar,
.btn_reintegrar,
.btn_reintegrar-off,
.btn_imprimir,
.btn_imprimir_guia,	
.btn_enviar,
.btn_p_anterior,
.btn_p_proximo,
.btn_p_anterior-off,
.btn_p_proximo-off,
.btn_buscar,
.btn_localizar,
.btn_limpar,
.btn_ok,
.btn_sim,
.btn_nao,
.btn_sair,
.btn_reprovar,
.btn_salvar,
.btn_salvar-off,
.btn_editar,
.btn_gerar_grafico,
.btn_inicio,
.btn_montarconsulta,
.btn_novo,
.btn_novo-off,
.btn_novoproponente,
.btn_novaproposta,
.btn_ordenar,
.btn_exclusao,
.btn_exclusao-off,
.btn_editar-off,
.btn_recarregar,
.btn_resumo,
.btn_ultimo,
.btn_voltar,
.btn_pesquisar,
.btn_gerarpublicacao,
.btn_upload,
.btn_anexar,
.btn_finalizar,
.btn_finalizar-off,
.btn_avaliar,
.btn_aprovar,
.btn_aprovar-off,
.btn_abrir,
.btn_ver,
.btn_cancelar-off,
.btn_enviar-off,
.btn_gerar_extrato,
.btn_configurar_grafico,
.btn_aprovar,
.btn_aprovar-off,
.btn_confirmar,
.btn_vincular,
.btn_rejeitar,
.btn_desvincular,
.btn_transferir,
.btn_transferir-off,
.btn_historico
{
	width:87px;
}
.btn_novo_produto,
.btn_descrever_item,
.btn_visualizar2
{
	width:100px;
}
.btn_solicitarvinculo
{
	width:105px;
}
.btn_retirar_pauta {
	width:106px;
        
}
.btn_excluir_tudo,
.btn_marcar,
.btn_desmarcar,
.btn_descrever_item,
.btn_oficializar_e_enviar,
.btn_oficializar_e_enviar-off
{
	width:110px;
}
.btn_deposito_equivocado
{
	width:117px;
}
.btn_analise_projeto, .btn_enviar_solicitacao
{
	width:121px;
}
.btn_devolver_tecnico,
.btn_devolver_tecnico-off
{
	width:127px;
}
.btn_redistribuir_projetos,
.btn_redistribuir_projetos,-off
{
	width:127px;
}
.btn_cadastrar_proponente
{
	width:130px;
}
.btn_comprovar_pagamento
{
	width:144px;
}
.btn_devolver_vinculada {
	width:145px;
}
.btn_visualizar_comprovacao
{
	width:147px;
}
.btn_finalizar_recurso, .btn_cancelar_solicitacao, .btn_cancelar_retirar_pauta
{
	width:160px;
}
.btn_gerar_despachos{
    width: 120px;
}
.btn_registrar_ordem_bancaria, .btn_imprimir_despacho, .btn_enviar_para_pagamento{
    width: 160px;
}
.btn_novo_recurso,
.btn_novo_recurso-off,
.btn_pesquisar_projeto,
.btn_pesquisar_projeto-off
{
	width:180px;
}
#btn_down, #btn_up {
	width:12px;
	height:15px;
	float:left;
}
.btn_validarItem {
	width:100px;
	cursor:pointer;
	background:url(../img/validarItem.png) 86px 4px no-repeat;
}
.btn_calendario, .btn_calendario:hover, .btn_calendario-off, .btn_relogio {
	width:100px;
	cursor:pointer;
	background:#f8f8f8 url(../img/data.png) 86px 4px no-repeat;
}
.btn_relogio {
	background:#f8f8f8 url(../img/hour.gif) 86px 4px no-repeat;
}
.btn_calendario-off, .btn_calendario-off:hover {
	cursor:auto;
	background:#dfdfdf url(../img/data.png) 86px 4px no-repeat;
}
.btn_validarItem                                { background:url(../img/validarItem.png) center center no-repeat; }
.btn_aprovar                                    { background:url(../img/aprovar.gif) center center no-repeat; }
.btn_oficializar_e_enviar                       { background:url(../img/oficializar_e_enviar.gif) center center no-repeat; }
.btn_devolver_tecnico                           { background:url(../img/redistribuir_projetos.gif) center center no-repeat; }
.btn_redistribuir_projetos                      { background:url(../img/devolver_tecnico.gif) center center no-repeat; }
.btn_pesquisar_projeto                          { background:url(../img/pesquisar_projeto.gif) center center no-repeat; }
.btn_aprovar-off                                { background:url(../img/aprovar-off.gif) center center no-repeat; }
.btn_oficializar_e_enviar-off                   { background:url(../img/oficializar_e_enviar-off.gif) center center no-repeat; }
.btn_devolver_tecnico-off                       { background:url(../img/devolver_tecnico-off.gif) center center no-repeat; }
.btn_redistribuir_projetos-off                  { background:url(../img/redistribuir_projetos-off.gif) center center no-repeat; }
.btn_pesquisar_projeto-off                      { background:url(../img/pesquisar_projeto-off.gif) center center no-repeat; }
.btn_editar                                     { background:url(../img/buttons/editar.gif) center center no-repeat; }
.btn_editar-off                                 { background:url(../img/buttons/editar-off.gif) center center no-repeat;}
.btn_excluir                                    { background:url(../img/buttons/excluir.gif) center center no-repeat; }
.btn_exclusao                                   { background:url(../img/buttons/excluir.gif) center center no-repeat; }
.btn_exclusao-off                               { background:url(../img/buttons/excluir-off.gif) center center no-repeat; }
.btn_off                                        { background:url(../img/btn_off.gif) center center no-repeat; }
.btn_on                                         { background:url(../img/btn_on.gif) center center no-repeat; }
.btn_senha                                      { background:url(../img/btn_senha.gif) center center no-repeat; }
.btn_visualizar                                 { background:url(../img/btn_visualizar.gif) center center no-repeat; }
.btn_busca                                      { background:url(../img/btn_busca.gif) center center no-repeat; }
.btn_npublicar                                  { background:url(../img/btn_npublicar.gif) center center no-repeat; }
.btn_gerarpublicacao                            { background:url(../img/btn_gerarpublicacao.gif) center center no-repeat; }
.btn_publicar                                   { background:url(../img/btn_publicar.gif) center center no-repeat; }
.btn_add                                        { background:url(../img/btn_add.gif) center center no-repeat; }
.btn_adicionar                                  { background:url(../img/btn_adicionar.gif) center center no-repeat; }
.btn_remover                                    { background:url(../img/buttons/btn_remover.gif) center center no-repeat; }
.btn_cadastrar                                  { background:url(../img/btn_cadastrar.gif) center center no-repeat; }
.btn_alterar                                    { background:url(../img/buttons/alterar.gif) center center no-repeat; }
.btn_incluir                                    { background:url(../img/buttons/incluir.gif) center center no-repeat; }
.btn_reintegrar                                 { background:url(../img/buttons/reintegrar.gif) center center no-repeat; }
.btn_reintegrar-off                             { background:url(../img/buttons/reintegrar-off.gif) center center no-repeat; }
.btn_cancelar                                   { background:url(../img/buttons/cancelar.gif) center center no-repeat; }
.btn_imprimir                                   { background:url(../img/buttons/imprimir.gif) center center no-repeat; }
.btn_imprimir_guia                              { background:url(../img/buttons/imprimir_guia.gif) center center no-repeat; }
.btn_pdf                                        { background:url(../img/btn_pdf.gif) center center no-repeat; }
.btn_xls                                        { background:url(../img/buttons/xls.gif) center center no-repeat; }
.btn_excluir_tudo                               { background:url(../img/btn_excluir_tudo.gif) center center no-repeat; }
.btn_enviar                                     { background:url(../img/buttons/enviar.gif) center center no-repeat; }
.btn_p_anterior                                 { background:url(../img/buttons/anterior.gif) center center no-repeat; }
.btn_p_proximo                                  { background:url(../img/buttons/proximo.gif) center center no-repeat; }
.btn_p_anterior-off                             { background:url(../img/buttons/anterior-off.gif) center center no-repeat; }
.btn_p_proximo-off                              { background:url(../img/buttons/proximo-off.gif) center center no-repeat; }
.btn_p_pri_pag                                  { background:url(../img/btn_p_pri_pag.gif) center center no-repeat; }
.btn_p_ult_pag                                  { background:url(../img/btn_p_ult_pag.gif) center center no-repeat; }
#btn_down                                       { background:url(../img/btn_down.gif) center center no-repeat; }
#btn_up                                         { background:url(../img/btn_up.gif) center center no-repeat; }
.btn_localizar                                  { background:url(../img/buttons/localizar.gif) center center no-repeat; }
.btn_buscar                                     { background:url(../img/btn_buscar.gif) center center no-repeat; }
.btn_limpar                                     { background:url(../img/buttons/limpar.gif) center center no-repeat; }
.btn_ok                                         { background:url(../img/btn_ok.gif) center center no-repeat; }
.btn_sim                                        { background:url(../img/btn_sim.gif) center center no-repeat; }
.btn_nao                                        { background:url(../img/btn_nao.gif) center center no-repeat; }
.btn_marcar                                     { background:url(../img/btn_marcar.gif) center center no-repeat; }
.btn_desmarcar                                  { background:url(../img/btn_desmarcar.gif) center center no-repeat; }
.btn_ord_up                                     { background:url(../img/seta_preta_up.gif) center center no-repeat; }
.btn_ord_down                                   { background:url(../img/seta_preta_down.gif) center center no-repeat; }
.btn_sair                                       { background:url(../img/buttons/sair.gif) center center no-repeat; }
.btn_reprovar                                   { background:url(../img/buttons/reprovar.png) left center no-repeat; }
.btn_salvar                                     { background:url(../img/buttons/salvar.gif) center center no-repeat; }
.btn_salvar-off                                 { background:url(../img/buttons/salvar-off.gif) center center no-repeat; }
.btn_deposito_equivocado                        { background:url(../img/buttons/deposito_equivocado.png) center center no-repeat; }
.icn_mais                                       { background:url(../img/icn_mais.gif) left center no-repeat; }
.icn_menos                                      { background:url(../img/icn_menos.gif) left center no-repeat; }
.btn_confirmar                                  { background:url(../img/buttons/confirmar.gif) left center no-repeat; }
.btn_rejeitar                                   { background:url(../img/buttons/rejeitar.gif) left center no-repeat; }
.btn_vincular                                   { background:url(../img/buttons/vincular.gif) left center no-repeat; }
.btn_desvincular                                { background:url(../img/buttons/desvincular.gif) left center no-repeat; }
.btn_gerar_grafico                              { background:url(../img/buttons/gerargrafico.gif) left center no-repeat; }
.btn_inicio                                     { background:url(../img/buttons/inicio.gif) left center no-repeat; }
.btn_montarconsulta                             { background:url(../img/buttons/montarconsulta.gif) left center no-repeat; }
.btn_novo                                       { background:url(../img/buttons/novo.gif) left center no-repeat; }
.btn_novo-off                                   { background:url(../img/buttons/novo-off.gif) left center no-repeat; }
.btn_novoproponente                             { background:url(../img/buttons/novo_proponente.gif) left center no-repeat; }
.btn_cadastrar_proponente                       { background:url(../img/buttons/cadastrar-proponente.gif) left center no-repeat; }
.btn_solicitarvinculo                           { background:url(../img/buttons/solicitar_vinculo.gif) left center no-repeat; }
.btn_novaproposta                               { background:url(../img/buttons/nova_proposta.gif) left center no-repeat; }
.btn_ordenar                                    { background:url(../img/buttons/ordenar.gif) left center no-repeat; }
.btn_recarregar                                 { background:url(../img/buttons/recarregar.gif) left center no-repeat; }
.btn_resumo                                     { background:url(../img/buttons/resumo.gif) left center no-repeat; }
.btn_ultimo                                     { background:url(../img/buttons/ultimo.gif) left center no-repeat; }
.btn_voltar                                     { background:url(../img/buttons/voltar.gif) left center no-repeat; }
.btn_pesquisar                                  { background:url(../img/buttons/pesquisar.gif) left center no-repeat; }
.btn_abrir                                      { background:url(../img/buttons/abrir.gif) left center no-repeat; }
.btn_ver                                        { background:url(../img/buttons/ver.gif) left center no-repeat; }
.btn_avaliar                                    { background:url(../img/buttons/avaliar.gif) left center no-repeat; }
.btn_aprovar                                    { background:url(../img/buttons/aprovar.gif) left center no-repeat; }
.btn_aprovar-off                                { background:url(../img/buttons/aprovar-off.gif) left center no-repeat; }
.btn_perfil                                     { background:url(../img/buttons/perfil-p.gif) left center no-repeat; }
.btn_cancelar-off                               { background:url(../img/buttons/cancelar-off.gif) left center no-repeat; }
.btn_enviar-off                                 { background:url(../img/buttons/enviar-off.gif) left center no-repeat; }
.btn_novo_produto                               { background:url(../img/buttons/novo-produto.gif) left center no-repeat; }
.btn_gerar_extrato                              { background:url(../img/buttons/gerarextrato.gif) left center no-repeat; }
.btn_gerar_extrato:hover                        { background:url(../img/buttons/gerarextrato-off.gif) left center no-repeat; }
.btn_novo_recurso                               { background:url(../img/buttons/novo-recurso.gif) left center no-repeat; }
.btn_novo_recurso:hover, .btn_novo_recurso-off  { background:url(../img/buttons/novo-recurso-off.gif) left center no-repeat; }
.btn_configurar_grafico                         { background:url(../img/buttons/configurargrafico.gif) left center no-repeat; }
.btn_upload                                     { background:url(../img/buttons/upload.gif) left center no-repeat; }
.btn_upload                                     { background:url(../img/buttons/upload.gif) left center no-repeat; }
.btn_anexar                                     { background:url(../img/buttons/anexar.gif) left center no-repeat; }
.btn_finalizar                                  { background:url(../img/buttons/finalizar.gif) left center no-repeat; }
.btn_finalizar-off                              { background:url(../img/buttons/finalizar-off.gif) left center no-repeat; }
.btn_descrever_item                             { background:url(../img/buttons/descrever-item.gif) left center no-repeat; }
.btn_comprovar_pagamento                        { background:url(../img/buttons/comprovar-pagamento.gif) left center no-repeat; }
.btn_visualizar_comprovacao                     { background:url(../img/visualizar_comprovacao.gif) left center no-repeat; }
.btn_analise_projeto                            { background:url(../img/buttons/analise-projeto.gif) left center no-repeat; }
.btn_finalizar_recurso                          { background:url(../img/buttons/finalizar-recurso.gif) left center no-repeat; }
.btn_move_down                                  { background:url(../img/img_move_down.gif) center center no-repeat; }
.btn_move_left                                  { background:url(../img/img_move_left.gif) center center no-repeat; }
.btn_move_left_all                              { background:url(../img/img_move_left_all.gif) center center no-repeat; }
.btn_move_right                                 { background:url(../img/img_move_right.gif) center center no-repeat; }
.btn_move_right_all                             { background:url(../img/img_move_right_all.gif) center center no-repeat; }
.btn_move_up                                    { background:url(../img/img_move_up.gif) center center no-repeat; }
.btn_desarquivar                                { background:url(../img/desarquivar.gif) center center no-repeat; }
.btn_enviar_solicitacao                         { background:url(../img/buttons/enviar-solicitacao.gif) center center no-repeat; }
.btn_retirar_pauta                              { background:url(../img/buttons/retirar-pauta.gif) center center no-repeat; }
.btn_cancelar_solicitacao                       { background:url(../img/buttons/cancelar-solicitacao.gif) center center no-repeat; }
.btn_cancelar_retirar_pauta                     { background:url(../img/buttons/cancelar-retirada-pauta.gif) center center no-repeat; }
.btn_devolver_vinculada                         { background:url(../img/buttons/devolver-vinculada.gif) center center no-repeat; }
.btn_transferir                                 { background:url(../img/buttons/transferir.gif) center center no-repeat; }
.btn_transferir-off                             { background:url(../img/buttons/transferir-off.gif) center center no-repeat; }
.btn_gerar_despachos                            { background:url(../img/buttons/gerar-despachos.gif) center center no-repeat; }
.btn_imprimir_despacho                          { background:url(../img/buttons/imprimir-despacho.gif) center center no-repeat; }
.btn_registrar_ordem_bancaria                   { background:url(../img/buttons/registrar-ordem-bancaria.gif) center center no-repeat; }
.btn_enviar_para_pagamento                      { background:url(../img/buttons/enviar-para-pagamento.gif) center center no-repeat; }
.btn_visualizar2                                { background:url(../img/buttons/visualizar.gif) center center no-repeat; }
.btn_historico                                  { background:url(../img/buttons/historico.gif) center center no-repeat; }
/* ========== FIM BOTÕES ========== */
-->
/*loader*/
.loader {
    background:url(../img/ajax.gif) no-repeat center;
    padding: 5px 0 50px 0;
    height: 1px;
}

.versao { margin-top: 30px; text-align: center; }
