@charset "utf-8";

/**
 * Correcoes para o I.E.
 */

#miolo fieldset { 
	padding:20px 20px 10px 20px;
	background:url(../img/bg-fieldset-for-ie.gif) repeat-x; 
}

#titulo div {
	*height:18px;
}

#titulo span { 
	*top:-18px; 
	*position:relative; 
}

#navglobal {
	*top:57px;
}

#rodape {
	*top:16px;
}

.busca {
	margin:20px 0 0 0;
}

.busca .campoBusca {
	*margin-left:-5px;
}

ul.simpleTabsNavigation li a {
	*padding:0px 40px 0 0;
}

/* cabecalho do menu estilo ipod */
.fg-menu-header {
	padding: .4em .4em 2em .4em;
}

.fg-menu-ipod .fg-menu li {
	_width: 95%;
}

.fg-menu-ipod .ui-widget-content {
	_border:0;
}