@charset "utf-8";

/**
 * Correções para o I.E.
 */

#miolo fieldset { 
	padding:20px 20px 10px 20px;
	background:url(../img/bg-fieldset-for-ie.gif) repeat-x; 
}

.busca {
	margin:20px 0 0 0;
}


/* cabeçalho do menu estilo ipod */
.fg-menu-header {
	padding: .4em .4em 2em .4em;
}
