html { overflow-y: auto; }

body {
	background:#f8f8f8;
	font:12px "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	color:#666;
	line-height:14pt;
}

p {
	line-height:14pt;
	padding:0 0 10px 0;
}

strong {
	font-weight:bold;
}

a:link,a:active,a:visited {
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
}



#navglobal {
	float:left;
	background:url(../img/navglobal-corner.gif) no-repeat #36963f;
	position:relative;
	top:58px;
	left:20px;
	padding:10px 0 8px 0;
}

#navglobal ul {
	margin:0 0 0 5px;
}

#navglobal ul li { 
	list-style-type:none; 
	display:inline;	
	margin:0 1px 0 2px; 
	padding:7px 0 6px 0; 
	text-align:center;
	height:37px;
}

#navglobal ul li a { 
	font-size:11px;
	padding:0 9px 0 9px; 
	width:13px;
	height:37px;
}
#navglobal ul li a:hover {
background:url(../img/menu_left.gif) top left no-repeat; 
} 



#navglobal ul li a div {
	float:right;
	width:13px;
	height:37px;
}
#navglobal ul li a:hover div { background:url(../img/menu_rigth.gif); }



#navglobal ul li.ativo {
	background:url(../img/navglobal-ativo-right.gif) right no-repeat;
}

#navglobal ul li.ativo span { 
	background:url(../img/navglobal-ativo-left.gif) left no-repeat; 
	padding:7px 0 6px 0; 
}

#navglobal ul li.ativo a {
	color:#666;
}

#divrigth, #divrigth:hover{

width:13px;
height:37px;
background:url(../img/menu_rigth.gif);
float:right;

}
#divleft, #divleft:hover{
width:13px;
height:37px;
background:url(../img/menu_left.gif);
float:left;

}
#divmenuprincipalcenter:hover{
background:url(../img/menu_center.gif);
float:left;
display:block;
}
#navglobal li a:hover { 
background:url(../img/navglobal-ativo-right.gif) left no-repeat; 

}

#navglobal li a:hover span { 
background:url(../img/navglobal-ativo-left.gif) left no-repeat; 

}
#navglobal li a:active {
	background:url(../img/home.png) center no-repeat;

}

#navglobal ul li a.home {
	background:url(../img/home.png) center no-repeat;
	padding:2px 0 2px 0;
}

#navglobal ul li a.home span {
	visibility:hidden;
}

#navglobal ul li a { 
	color:#fff; 
	text-decoration:none;
	font-weight:bold;	
}