@charset "utf-8";

/* background da div topo */
#topo { 
	background:url(../img/bg-topo-noscript.gif) no-repeat #ACDA5D; /* background da div topo */
	 
}

#container {
	width:991px; /* largura da div container */
}

#conteudo {
	width:738px; /* largura da div conteudo */
}

#titulo {
	width:739px; /* largura da div titulo */
}

#rodapeConteudo { 
	width:738px; /* largura da div rodapeConteudo */
}

#rodape {
	min-width:972px; /* largura da div rodape */
}


/* MENU SANFONA */
/* Formatação de uma 'div' dentro da div qm0 */
#qm0 div {	
	visibility: inherit;
	position:relative;
	border-bottom:none;
}


/* MENU HORIZONTAL*/
/* Formatação dos itens de uma sublista do menu */
#navglobal ul li ul { 
	display:none; 
	background:#36963F;
	position:absolute;
	left:110px;
	width:150px;
	z-index:10000;	
}

/* Formatação dos 'subitens' do menu */
#navglobal ul li ul li  {
	display:block;
}

#navglobal ul li { 
	text-align:left;
}

/* Formatação da ação 'over' dos itens da lista do menu */
#navglobal ul li:hover ul 	{
	display:block;
}

/* Formatação dos subitens da lista do menu */
#navglobal ul li ul li ul { 
	display:none!important; 
	border:1px solid #fff;
	top:10px;
}

/* Formatação da ação 'over' dos subitens da lista do menu */
#navglobal ul li ul li:hover ul { 
	display:block !important; 
}