<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<?php
/**
 * Solicitaï¿½ï¿½o de Recurso
 * @author Equipe RUP - Politec
 * @since 20/07/2010
 * @version 1.0
 * @package application
 * @subpackage application.view.scripts.recurso
 * @copyright ï¿½ 2010 - Ministï¿½rio da Cultura - Todos os direitos reservados.
 * @link http://www.cultura.gov.br
 */
?>

<!-- ========== INï¿½CIO BREADCRUMB (LINKS TOPO) ========== -->
<div id="breadcrumb">
	<ul>
		<li class="first"><a href="<?php echo $this->baseUrl(); ?>" title="Ir para Inï¿½cio">Inï¿½cio</a></li>
		<li class="last">Recurso</li>
	</ul>
</div>
<!-- ========== FIM BREADCRUMB (LINKS TOPO) ========== -->



<!-- ========== INï¿½CIO Tï¿½TULO ========== -->
<div id="titulo">
	<div>Solicitaï¿½ï¿½o de Recurso <span>ID #23A</span> <span class="voltar"><a href="#" onclick="voltar();">Voltar</a></span></div>
</div>
<!-- ========== FIM Tï¿½TULO ========== -->



<!-- ========== INï¿½CIO CONTEï¿½DO ========== -->
<div id="conteudo">



	<!-- ========== INï¿½CIO TABELA RECURSOS ========== -->
	<table class="tabela">
		<tr>
			<th>Recursos</th>
		</tr>		
	</table>




	<!-- ========== INï¿½CIO TABELA PROJETOS INDEFERIDOS ========== -->
	<table class="tabela">
          <tr><td>
          <input type="button" id="abrir_fechar" class="btn_adicionar"  title="Adicionar" />Projetos Indeferidos
         </div>
          </td></tr>
          </table>
          <div id="div_teste" style="display:none;" >
  <table class="tabela">

<tr class="PI">
						<th>Pronac</th>
						<th>Nome do Projeto</th>
						<th>área de Segmento</th>
						<th>Data de Inï¿½cio</th>
						<th>Data de Fim</th>
						<th>Cidade</th>
					</tr>
               
        </tr>
  <tr> 			  <?php foreach($this->recursoindeferidos as $tbinferidos): ?>
     
		<td><a href="<?php echo $this->url(array('controller' => 'recurso', 'action' => 'indeferidos')); ?>?idPronac=<?php echo $this->escape($tbinferidos->IdPRONAC);?>"><?php echo $this->escape($tbinferidos->pronac);?></a></td>				
		<td><?php echo $this->escape($tbinferidos->NomeProjeto);?></td>
		<td align="center"><?php echo $this->escape($tbinferidos->Area);?> - <?php echo $this->escape($tbinferidos->Segmento);?></td>
		<td align="center"><?php echo $this->escape($tbinferidos->DataInicio);?></td>
		<td align="center"><?php echo $this->escape($tbinferidos->DataFim);?></td>
		<td><?php echo $this->escape($tbinferidos->Cidade);?></td>
   </tr>
       
        <?php
        endforeach;?>

         </table>
         </div>
         
         
    				<!-- ========== FIM TABELA PROJETOS INDEFERIDOS ========== -->



				<!-- ========== INï¿½CIO TABELA PROJETOS DEFERIDOS - REENQUADRAMENTO ========== -->     
         
         
         
<table class="tabela">

          <tr><td >
          <input type="button" id="abrir_fechar1" class="btn_adicionar"  title="Adicionar" />Projetos Deferidos - Reenquadramento
         </div>
          </td></tr>
          </table>
          <div id="div_teste1" style="display:none;" >
<table class="tabela">
					<tr class="DE">
						<th>Pronac</th>
						<th>Nome do Projeto</th>
						<th>área de Segmento</th>
						<th>Data de Inï¿½cio</th>
						<th>Data de Fim</th>
						<th>Cidade</th>
					</tr>
<tr>
    		  <?php foreach($this->recursoreenquadramento as $tbreenquadramento): ?>
			  

						
<td><a href="<?php echo $this->url(array('controller' => 'recurso', 'action' => 'reenquadramento')); ?>?idPronac=<?php echo $this->escape($tbreenquadramento->IdPRONAC);?>"><?php echo $this->escape($tbreenquadramento->pronac);?></a></td>				

						<td><?php echo $this->escape($tbreenquadramento->NomeProjeto);?></td>
						<td align="center"><?php echo $this->escape($tbreenquadramento->Area);?> - <?php echo $this->escape($tbreenquadramento->Segmento);?></td>
						<td align="center"><?php echo $this->escape($tbreenquadramento->DataInicio);?></td>
							<td align="center"><?php echo $this->escape($tbreenquadramento->DataFim);?></td>
						<td><?php echo $this->escape($tbreenquadramento->Cidade);?></td>
					</tr>
					<?php endforeach;?>	

         </table>
         </div>
       

<!-- ========== FIM TABELA PROJETOS DEFERIDOS - REENQUADRAMENTO ========== -->

		

<!-- ========== INï¿½CIO TABELA PROJETOS DEFERIDOS - ORï¿½AMENTO ========== -->


         
<table class="tabela">

          <tr><td >
          <input type="button" id="abrir_fechar2" class="btn_adicionar" title="Adicionar"/>Projetos Deferidos - Orï¿½amento
         </div>
          </td></tr>
          </table>
          <div id="div_teste2" style="display:none;" >
<table class="tabela">
		<tr class="DO">
			<th>Pronac</th>
			<th>Nome do Projeto</th>
			<th>área de Segmento</th>
			<th>Data de Inï¿½cio</th>
			<th>Data de Fim</th>
			<th>Cidade</th>
		</tr>
		<tr > <?php foreach($this->recursoorcamento as $tborcamento): ?>
			<td><a href="<?php echo $this->url(array('controller' => 'recurso', 'action' => 'orcamento')); ?>?idPronac=<?php echo $this->escape($tborcamento->IdPRONAC);?>&idRecurso=<?php echo $this->escape($tborcamento->idRecurso);?>"><?php echo $this->escape($tborcamento->pronac);?></a></td>				
			<td><?php echo $this->escape($tborcamento->NomeProjeto);?></td>
			<td align="center"><?php echo $this->escape($tborcamento->Area);?> - <?php echo $this->escape($tborcamento->Segmento);?></td>
			<td align="center"><?php echo $this->escape($tborcamento->DataInicio);?></td>
			<td align="center"><?php echo $this->escape($tborcamento->DataFim);?></td>
			<td><?php echo $this->escape($tborcamento->Cidade);?></td>
		</tr> <?php       endforeach;?>

         </table>
         </div>
       

















<script  type="text/javascript">

$('#abrir_fechar').click(function(){

  

   $('#div_teste').toggle('slow');
});
</script>

<script  type="text/javascript">

$('#abrir_fechar1').click(function(){

  

   $('#div_teste1').toggle('slow');
});
</script>
<script   type="text/javascript" >

$('#abrir_fechar2').click(function(){

  

   $('#div_teste2').toggle('slow');
});
</script>



























	
	</div>
<!-- ========== FIM CONTEï¿½DO ========== -->
				
				
				
<!-- ========== INï¿½CIO RODAPï¿½ DO CONTEï¿½DO ========== -->
	<div id="rodapeConteudo"><span></span></div>
<!-- ========== FIM RODAPï¿½ DO CONTEï¿½DO ========== -->

<br clear="all" />
